<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.blooming.BoardReplyMapper">

	<insert id="insert">
		insert into ${board_reply}
		(${memberId}, ${boardId}, ${boardReplyContent})
		values (#{memberId}, #{boardId}, #{boardReplyContent})
	</insert>
	
	<update id="update">
		update ${board_reply}
		set ${boardReplyContent} = #{boardReplyContent}
		where ${boardReplyId} = #{boardReplyId}
	</update>
	
	<!-- 댓글 삭제관련: 내용 및 멤버 수정 -->
	<update id="update_for_delete">
		update ${board_reply}
	 	set ${boardReplyContent} = '삭제된 댓글입니다', ${memberId} = 999999 
	 	where ${boardReplyId} = #{boardReplyId}
	</update>
	
	<!-- 댓글 삭제관련: 삭제처리 -->
	<delete id="delete">
		delete from ${board_reply}
		where ${replyId} = #{replyId}
	</delete>	
			
	<select id="select_by_board_id" resultType="BoardReplyVO">
		select r.*, m.${memberNickname} ${authorNickname} 
		from ${board_reply} r join ${member} m on r.${memberId} = m.${memberId}
		where ${boardId} = #{boardId}
		order by ${boardReplyId}	
	</select>		
	
	<!-- 댓글 코멘트 갯수 수정 -->
	<update id="update_comment_count">
		update ${reply}
		set ${boardReplyCommentCount} = ${boardReplyCommentCount} + #{amount}
		where ${replyId} = #{replyId}	
	</update>	

</mapper>

