<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.blooming.BoardReplyMapper">
	<insert id="insert">
		insert into ${board_reply}
		(${memberId}, ${boardId}, ${boardReplyContent})
		values (#{memberId}, #{boardId}, #{boardReplyContent})
	</insert>
	
	<update id="update">
		update ${board_reply}
		set ${boardReplyContent} = #{boardReplyContent}
		where ${boardReplyId} = #{boardReplyId}
	</update>
	
	<delete id="delete">
		delete from ${board_reply}
		where ${boardReplyId} = #{boardReplyId}	
	</delete>	
	
	<!-- 특정 게시글 댓글 조회 -->
	<select id="select_by_board_id" resultType="BoardReplyVO">
		select 
			r.*, 
			m.${memberName} authorName			
		from ${board_reply} r join ${member} m on r.${memberId} = m.${memberId}
		where ${boardId} in (
			select ${boardId}
			from ${board}
			where ${boardParentId} = #{boardId}
		)			
		order by ${boardReplyId}
	</select>

</mapper>