<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.blooming.LectureReplyMapper">
	<insert id="insert">
		insert into ${lecture_reply}
		(${memberId}, ${lectureId}, ${lectureReplyContent}, ${lectureReplyScore})
		values (#{memberId}, #{lectureId}, #{lectureReplyContent}, #{lectureReplyScore})
	</insert>
	
	<update id="update">
		update ${lecture_reply}
		set ${lectureReplyContent} = #{lectureReplyContent},
			${lectureReplyScore} = #{lectureReplyScore}
		where ${lectureReplyId} = #{lectureReplyId}
	</update>
	
	<delete id="delete">
		delete from ${lecture_reply}
		where ${lectureReplyId} = #{lectureReplyId}	
	</delete>
	
	<!-- 특정 수강평 조회 -->
	<select id="select_by_lecture_reply_id" resultType="LectureReplyVO">
		select r.*, m.${memberName} ${authorName}, m.${memberProfileUrl} ${authorProfileUrl}
		from ${lecture_reply} r join ${member} m on r.${memberId} = m.${memberId} 
		where ${lectureReplyId} = #{lectureReplyId}
	</select>
	
	<!-- 특정 강의 수강평 조회 -->
	<select id="select_by_lecture_id" resultType="LectureReplyVO">
		select r.*, m.${memberNickName} ${authorNickName}
		from ${lecture_reply} r join ${member} m on r.${memberId} = m.${memberId}
		where ${lectureId} = #{lectureId}
		order by ${lectureReplyId}
	</select>
	
	<!-- 나에게 쓴 강의 수강평 조회(강사용) -->
	<select id="select_by_instructor_id" resultType="LectureReplyVO">
		select lr.*, m.${memberNickName} ${authorNickName}, l.${lectureTitle}
		from ${lecture_reply} lr 
			join ${lecture} l on lr.${lectureId} = l.${lectureId} 
			join ${member} m on lr.${memberId} = m.${memberId}
		where l.${memberId} = #{memberId}
		order by ${lectureReplyId} desc
	</select>

</mapper>