<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.blooming.LessonMapper">

	<insert id="insert">
		insert into ${lesson}
		(${lectureId}, ${lessonName}, ${lessonUrl})
		values (#{lectureId}, #{lessonName}, #{lessonUrl})
	</insert>
	
	<select id="select_by_lesson_id" resultType="LessonVO">
		select * from ${lesson}
		where ${lessonId} = #{lessonId}
	</select>
	
	<select id="select_by_lecture_id" resultType="LessonVO">
		select * from ${lesson}
		where ${lectureId} = #{lectureId}
		order by ${lessonId}
	</select>
	
	<update id="update">
		update ${lesson}
		set ${lessonName} = #{lessonName},
			${lessonUrl} = #{lessonUrl}
		where ${lessonId} = #{lessonId}
	</update>
	
	<delete id="delete">
		delete from ${lesson}
		where ${lessonId} = #{lessonId}
	</delete>
	
</mapper>