<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.blooming.MemberMapper">

	<!-- 회원 가입 -->
	<insert id="insert">
		insert into member
		(member_email, member_password, member_name, member_phone, member_address, member_introduce, member_profile_url, member_level)
		values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberPhone},
		 #{memberAddress}, #{memberIntroduce}, #{memberProfileUrl}, #{memberLevel})	
	</insert>
	
	<!-- 이메일 중복검사 -->
	<select id="check_email_duplicated" resultType="Integer">
		select count(*) from member 
		where member_email = #{memberEmail}	
	</select>
	
	<!-- 로그인 -->
	<select id="login" parameterType="String" resultType="MemberVO">
		select member_id, member_email, member_password, member_name, member_phone, 
			member_address, member_introduce, member_profile_url, member_level 
		from member 
		where member_email = #{memberEmail} and member_password = #{memberPassword} 
		
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="update_password">
		update ${member}
		set ${memberPassword} = #{memberPassword}
		where ${memberId} = #{memberId}	
	</update>
	
	
	<!--  
	<select id="select_by_member_email" resultType="MemberVO">
		select * from ${member} where ${memberEmail} = #{memberEmail}
	</select>
	
	<update id="update">
		update ${member}
		set ${memberPassword} = #{memberPassword}, ${memberPhone} = #{memberPhone},
			${memberAddress} = #{memberAddress}, ${memberIntroduce} = #{memberIntroduce}
			${memberProfileUrl} = #{memberProfileUrl}
		where ${memberEmail} = #{memberEmail}	
	</update>
	
	<delete id="delete">
		delete from ${member}
		where ${memberEmail} = #{memberEmail}	
	</delete>
	
	<select id="select_by_member_email_and_password" resultType="MemberVO">
		select ${memberEmail} from ${member}
		where ${memberEmail} = #{memberEmail} and ${memberPassword} = #{memberPassword}	
	</select>
	-->
</mapper>














