<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.blooming.PurchaseMapper">
	
	<!-- 결제 -->
	<insert id="insert">
		insert into ${purchase}
		(${memberId}, ${lectureId}, ${purchasePrice})
		values (#{memberId}, #{lectureId}, #{purchasePrice})
	</insert>
	
	<!-- 환불 -->
	<delete id="delete">
		delete from ${purchase}
		where ${memberId} = #{memberId} and ${lectureId} = #{lectureId} 
	</delete>
	
</mapper>