<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.blooming.PurchaseMapper">
	
	<!-- 결제 -->
	<insert id="insert">
		insert into ${purchase}
		(${memberId}, ${lectureId}, ${purchasePrice})
		values (#{memberId}, #{lectureId}, #{purchasePrice})
	</insert>
	
	<!-- 환불 -->
	<delete id="delete">
		delete from ${purchase}
		where ${memberId} = #{memberId} and ${lectureId} = #{lectureId} 
	</delete>
	
	<!-- 결제 내역 가져오기 -->
	<select id="select_by_memberId" resultType="LectureVO">
		select l.*
		from ${lecture} l join ${purchase} p on l.${lectureId} = p.${lectureId}
		where p.${memberId} = #{memberId}
	</select>
	
	<!-- 결제 했는지 체크 -->
	<select id="select_count" resultType="Integer">
		select count(*)
		from ${purchase}
		where ${memberId} = #{memberId} and ${lectureId} = #{lectureId}
	</select>
	
	<!-- 강의별 판매량 조회 -->
	<select id="select_sales_count" resultType="map">
		select l.${lectureTitle}, s.sales
		from
		(   
		    select  count(*) sales, ${lectureId} 
		    from ${purchase}
		    where to_char(${purchaseDateCreated},'yyyy-mm-dd') <![CDATA[<]]> to_char(sysdate - #{day},'yyyy-mm-dd')
		    group by ${lectureId}
		) s join ${lecture} l on s.${lectureId} = l.${lectureId}
		where l.${memberId} = #{memberId}
	</select>
	
	<!-- 월별 강의 판매 금액 조회 -->
	<select id="select_monthly_income" resultType="map">
		SELECT TO_CHAR(p.${purchaseDateCreated}, 'MM') AS month, SUM(l.${lecturePrice}) AS total_income
		FROM ${purchase} p
		JOIN ${lecture} l ON p.${lectureId} = l.${lectureId}
		WHERE l.${memberId} = #{memberId}
		  AND TO_CHAR(p.${purchaseDateCreated}, 'YYYY') = TO_CHAR(sysdate, 'YYYY')
		  AND TO_CHAR(p.${purchaseDateCreated}, 'YYYY-MM-DD') <![CDATA[<]]> TO_CHAR(sysdate - #{day}, 'YYYY-MM-DD')
		GROUP BY TO_CHAR(p.${purchaseDateCreated}, 'MM')
		ORDER BY month
	</select>
</mapper>