<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties>
		<!-- MEMBER -->
		<property name="member" value="member"/>
		<property name="memberId" value="member_id"/>
		<property name="memberEmail" value="member_email"/>
		<property name="memberPassword" value="member_password"/>
		<property name="memberName" value="member_name"/>
		<property name="memberNickname" value="member_nickname"/>
		<property name="memberPhone" value="member_phone"/>
		<property name="memberAddress" value="member_address"/>
		<property name="memberIntroduce" value="member_introduce"/>
    	<property name="memberProfileUrl" value="member_profile_url"/>
		<property name="memberLevel" value="member_level"/>
		<property name="memberNickName" value="member_nickname"/>
		
		<!-- LESSON -->
		<property name="lesson" value="lesson"/>
		<property name="lessonId" value="lesson_id"/>
		<property name="lectureId" value="lecture_id"/>
		<property name="lessonName" value="lesson_name"/>
		<property name="lessonUrl" value="lesson_url"/>
		<property name="lessonIndex" value="lesson_index"/>
		<property name="lessonVideoProcessingLevel" value="lesson_video_processing_level"/>
		
		<!-- LECUTRE -->
		<property name="lecture" value="lecture"/>
		<property name="memberId" value="member_Id"/>
		<property name="authorName" value="author_name"/>
		<property name="lectureTitle" value="lecture_title"/>
		<property name="lectureDescription" value="lecture_description"/>
		<property name="lecturePrice" value="lecture_price"/>	
		<property name="lectureVideoProcessingLevel" value="lecture_video_processing_level"/>
		<property name="lectureSalesCount" value="lecture_sales_count"/>		
		<property name="lectureTotalScore" value="lecture_total_score"/>
		<property name="lectureReplyCount" value="lecture_reply_count"/>
		<property name="lectureLikeCount" value="lecture_like_count"/>
		<property name="lectureThumbnailUrl" value="lecture_thumbnail_url"/>
		<property name="lectureDateCreated" value="lecture_date_created"/>
		
		
		<!-- LECTURE_REPLY -->
		<property name="lecture_reply" value="lecture_reply"/>
		<property name="lectureReplyId" value="lecture_reply_id"/>
		<property name="lectureId" value="lecture_id"/>
		<property name="memberId" value="member_Id"/>
		<property name="lectureReplyContent" value="lecture_reply_content"/>
		<property name="lectureReplyScore" value="lecture_reply_score"/>
		<property name="authorName" value="author_name"/>
		<property name="authorNickName" value="author_nick_name"/>
		<property name="authorProfileUrl" value="author_Profile_Url"/>
		
		<!-- LECTURE_LIKE  -->
		<property name="lecture_like" value="lecture_like"/>
		<property name="lectureId" value="lecture_id"/>
		<property name="memberId" value="member_Id"/>
		<property name="lectureLikeDateCreated" value="lecture_like_date_created"/>
		
		<!-- CART -->
		<property name="cart" value="cart"/>
		<property name="lectureId" value="lecture_id"/>
		<property name="memberId" value="member_Id"/>
		
		<!-- PURCHASE -->
		<property name="purchase" value="purchase"/>
		<property name="lectureId" value="lecture_id"/>
		<property name="memberId" value="member_Id"/>
		<property name="purchasePrice" value="purchase_price"/>
		<property name="purchaseDateCreated" value="purchase_date_created"/>	
		
		<!-- BOARD -->
		<property name="board" value="board"/>
		<property name="boardId" value="board_id"/>
		<property name="memberId" value="member_id"/>
		<property name="authorNickname" value="author_nickname"/>				
		<property name="boardTitle" value="board_title"/>
		<property name="boardContent" value="board_content"/>		
		<property name="boardViewCount" value="board_view_count"/>
		<property name="boardReplyCount" value="board_reply_count"/>		
		<property name="boardLikeCount" value="board_like_count"/>
		<property name="boardDateCreated" value="board_date_created"/>
		
		<!-- BOARD_REPLY -->
		<property name="board_reply" value="board_reply"/>
		<property name="boardReplyId" value="board_reply_id"/>
		<property name="boardId" value="board_id"/>
		<property name="memberId" value="member_id"/>
		<property name="boardReplyContent" value="board_reply_content"/>
		<property name="boardReplyDateCreated" value="board_reply_date_created"/>
		<property name="boardReplyCommentCount" value="board_reply_comment_count"/>
		<property name="authorNickname" value="author_Nickname"/>
		
		<!-- BOARD_COMMENT -->
		<property name="board_comment" value="board_comment"/>
		<property name="boardCommentId" value="board_comment_id"/>
		<property name="boardReplyId" value="board_reply_id"/>
		<property name="memberId" value="member_id"/>
		<property name="boardCommentContent" value="board_comment_content"/>
		<property name="boardCommentDateCreated" value="board_comment_date_created"/>
		<property name="authorNickname" value="author_Nickname"/>
		
		<!-- BOARD_LIKE -->
		<property name="board_like" value="board_like"/>
		<property name="boardId" value="board_id"/>
		<property name="memberId" value="member_id"/>

	</properties>
	
	<!-- underscore 명명법을 camel 명명법으로 변환 가능하도록 세팅 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!--  typeAliases : mapper.xml의 select 리턴 타입에 들어갈 클래스 경로를 설정 -->
	<typeAliases>
		<package name="com.edu.blooming.domain"/>
	</typeAliases>
	
</configuration>